<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/Users/timtrailor/Library/Python/3.9/bin</string>
	</dict>
	<key>Label</key>
	<string>com.timtrailor.governorhub-sync</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>-c</string>
		<string>security unlock-keychain -p "$(cat ~/.keychain_pass)" ~/Library/Keychains/login.keychain-db &amp;&amp; /opt/homebrew/bin/python3.11 /Users/timtrailor/code/ofsted-agent/governorhub_sync.py 2&gt;&amp;1 &gt;&gt; /Users/timtrailor/code/governorhub_sync.log</string>
		<string>security unlock-keychain -p "$(cat ~/.keychain_pass)" ~/Library/Keychains/login.keychain-db &amp;&amp; /usr/bin/python3 /Users/timtrailor/code/ofsted-agent/governorhub_sync.py 2&gt;&amp;1 &gt;&gt; /Users/timtrailor/code/governorhub_sync.log</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/Users/timtrailor/code/governorhub_sync_error.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>6</integer>
		<key>Minute</key>
		<integer>0</integer>
		<key>Weekday</key>
		<integer>1</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/timtrailor/code/ofsted-agent</string>
</dict>
</plist>
