<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.timtrailor.memory-indexer</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/python3.11</string>
        <string>-c</string>
        <string>
import sys
sys.path.insert(0, '/Users/timtrailor/code')
from memory_server import index_all_transcripts
result = index_all_transcripts()
print('memory-indexer:', result)
        </string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/timtrailor/code</string>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>2</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>14</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/timtrailor/code/memory_server_data/indexer.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/timtrailor/code/memory_server_data/indexer.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>/Users/timtrailor</string>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
